# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
ecom_env/
venv/
env/

# Django stuff
*.sqlite3
/staticfiles/
media/

# OS
.DS_Store

# IDE
.vscode/
.idea/
data/Amazon Sale Report.csv
data/amazon_sales.json
*.csv
*.json
